<div class="top-bar">
    <div class="row">
        <ul class="vertical medium-horizontal menu">
            <li class="menu-text">MAJIQ 2.0 Documentation</li>
            <li><a href="/">Home</a></li>
            <li class=companymenuli><a>Quick Start<b class="caret"></b></a>
            </li>
            <li class=companymenuli><a>What is an LSV<b class="caret"></b></a>
            </li>
            <li class=companymenuli><a>MAJIQ<b class="caret"></b></a>
            </li>
            <li class=companymenuli><a>VOILA<b class="caret"></b></a>
            </li>
        </ul>
    </div>
</div>

