<nav>
    <div class="sidenav">
        <!-- <ul class="vertical medium-horizontal menu"> -->
        <a class="active">MAJIQ 2.0 Documentation</a>
        <a href="index.html">Home</a>
        <a href="quick.html">Quick Start</a>
        <a href="lsv.html">What is an LSV</a>
        <button class="dropdown-btn">MAJIQ
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="MAJIQ.html">Build</a>
            <a href="MAJIQ.html">PSI</a>
            <a href="MAJIQ.html">DeltaPSI</a>
            <a class="dropdown-item" href="simplify.html">Simplifier</a>
        </div>
        <!-- <a href="MAJIQ.html">MAJIQ</a> -->
        <a href="VOILA.html">VOILA</a>
        <a href="faq.html">FAQ</a>
    </div>
</nav>
