
.zurb-footer-bottom {
    border-top: 2px solid #0053A0;
    padding: 24px 0 10px;
    clear: both;
}

.zurb-footer-bottom .design-border {
    border-bottom: 2px solid #0053A0;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.zurb-footer-bottom .zurb-logo {
    /*color: #858585;*/
    font-weight: normal;
    background: url("../img/icons/footer-icons.jpg") no-repeat 0 3px;
    padding: 26px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 105px;
}

.zurb-footer-bottom .zurb-logo:hover {
    opacity: 0.8;
}

.zurb-footer-bottom .zurb-links {
    margin: 0;
    display: inline-block;
    padding-bottom: 0px;
}

.zurb-footer-bottom .zurb-links li {
    display: block;
    float: left;
    margin-left: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
}

.zurb-footer-bottom .zurb-links a {
    /*color: #666;*/
    padding: 3px 6px;
}

.zurb-footer-bottom .zurb-links a:hover {
    color: #E85917;
}

.zurb-footer-bottom .copyright {
    margin: 6px 0 0;
    font-size: 0.75rem;
    color: #0053A0;
}

.zurb-footer-bottom .home-social {
    display: block;
    float: right;
    margin-bottom: 8px;
}

.zurb-footer-bottom .home-social li {
    list-style: none;
    display: block;
    float: left;
    margin-left: 10px;
}

.zurb-footer-bottom .home-social li:first-child {
    margin-left: 0;
}

.zurb-footer-bottom .home-social a {
    display: block;
    height: 50px;
    width: 50px;
    background: url("../img/icons/social.png") no-repeat center 0;
}

.zurb-footer-bottom .home-social a:hover {
    opacity: 0.8;
}

.zurb-footer-bottom .home-social a.twitter {
    background-position: center 0;
}

.zurb-footer-bottom .home-social a.facebook {
    background-position: center -200px;
}

.zurb-footer-bottom .home-social a.mail {
    background-position: center -400px;
}

.p {
    font-weight: normal;
}

.menu > li > a {
    cursor: default;
}

.menu > li > a.disabled {
    color: darkgrey;
}

.menu > li > a:hover:not(.disabled) {
    color: #E85917;
    cursor: pointer;
}

.top-bar {
    padding: 0.5;
    border-bottom: 2px solid;
    border-color: #E85917;
    padding-top: 10px;
}

.main-header {
    padding: 10px 10px 10px 0;
    margin-top: 200px;
    overflow: hidden;
}

.logo-penn {
    float: right;
}

.menu-text {
    color: #0c4d78;
}

.statusmsg {
    border-radius: 10px;
    padding: 3px; /* Some padding to make some more space for our text  */
    background: #FFEFD5; /* Add a background color to our status message   */
    border: 1px solid #E85917; /* Add a border arround our status message   */
    padding: 20px;
}

.code {
. statusmsg;
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-weight: 400;
    font-size: 12px;
}

.submenu {
    border-left: 2px solid;
    border-color: #E85917;
    display: none;
    margin-left: 10px;
    background: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.companymenuli a:hover {
    color: #E85917;
    cursor: pointer;
    background: #FFFFFF;
}

.companymenuli:hover > ul {
    position: absolute;
    display: block;
}

input[type=submit] {
    padding: 5px 15px;
    background: #E85917;
    color: #FFFFFF;
    border: 0 none;
    cursor: pointer;
    font-weight: bold;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color: #E85917;
}
