.navbar-toggler {
    margin-top: 18px;
}

main img {
    max-width: 100%;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
}

.color-block {
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
}