.console {
    font-family: Menlo, Consolas, & quot;
    DejaVu Sans Mono & quot;, monospace;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 2px solid;
    border-color: #E85917;
    padding-right: 10px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 20px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #0c4d78;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #E85917;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 30px;
}

/* Add an active class to the active dropdown button */
.active {
    /* background-color: #E85917; */
    color: #0c4d78;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    /* background-color: #262626; */
    padding: 6px 8px 20px 16px;
    padding-left: 8px;
    font-size: 10px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

hr {
    align: left;
    max-width: 500px;
    margin: 1px;
}
